

.back {

    display: inline-block;
  
    font-size: 100px;
    width: 470px;
    height: 270px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #111;
    background-color: #00ffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.back span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.back span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.back:hover span {
  padding-right: 25px;
}

.back:hover span:after {
  opacity: 1;
  right: 0;
}