.button1 {
  display: inline-block;
  
     
    font-size: 40px;
    width: 200px;
    height: 60px;

    text-align: center;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;

    background-color: #464A52;
    border: none;
    border-radius: 15px;
}



.button2 {
  display: inline-block;
  
     font-size: 40px;
    width: 200px;
    height: 60px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #111;
  background-color: #00ffff;
  border: none;
  border-radius: 15px;
}


.button3 {
  display: inline-block;

     font-size: 32px;
    width: 200px;
    height: 90px;


  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #111;
  background-color: #00ffff;
  border: none;
  border-radius: 15px;
}

.button3:hover {background-color: #008080}

.button3:active {
  background-color: #008080;
  transform: translateY(4px);
}

#sesat {
        background-color: #00ffff;
        display: block;
        position: relative;
        margin: 0px auto;
        top: 0px;
        width: 50%;
        height: 40px;
        

        border-radius: 3px;
        font-size: 20px;
        text-align: center;
        color: black;
     
    }
#sesat:active {
  background-color: Transparent;
  transform: translateY(4px);
}

#sesat2{
        background-color: #ccffff ;
        display: block;
        position: relative;
        margin: 0px auto;
        top: 0px;
        width: 50%;
        height: 40px;
        

        border-radius: 3px;
        font-size: 20px;
        text-align: center;
        color: black;
     
    }
#sesat2:active {
  background-color: Transparent;
  transform: translateY(4px);
}

